body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}

.content {
    max-width: 660px;
    margin: auto;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 90px;
    position: relative;

    @media (max-width: 800px) {
        margin-top: 75px;
    }
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 75px;
    right: 0;
    height: 100%;
    min-width: 25px;
    display: flex;
    z-index: 3;
    max-width: 382.5px; // 450px scaled down by 15%

    .graph {
        width: 357px; // 420px scaled down by 15%
        min-height: 357px; // 420px scaled down by 15%

        #link-graph {
            width: 357px; // 420px scaled down by 15%
            height: 357px; // 420px scaled down by 15%
        }

        #graph-fs-btn {
            margin-right: 10px;
        }
    }
    .graph-fs {
        position: fixed;
        top: 50%;
        left: 50%;
        height: calc(85vmin - 85px); // 100vmin scaled down by 15%
        width: calc(85vmin - 85px); // 100vmin scaled down by 15%
        min-height: 382.5px; // 450px scaled down by 15%
        min-width: 382.5px; // 450px scaled down by 15%
        transform: translate(-50%, -50%);
        z-index: 9999;
        display: block;
        background-color: var(--background-secondary);
        border: 1px solid var(--text-accent);
        border-radius: 5px;
        padding-top: 5px;

        #link-graph {
            width: 100%;
            height: 100%;
        }

        #graph-controls {
            margin-top: 10px;
        }

        .graph-title {
            display: none;
        }
    }
}

/* Sidebar Container Styles */
.sidebar-container {
    padding-right: 17px; // 20px scaled down by 15%
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 66.3%; // 78% scaled down by 15%
}
