body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
    ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}

.content {
    max-width: 660px;
    margin: auto;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 90px;
    position: relative;

    @media (max-width: 800px) {
        margin-top: 75px;
    }
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 75px;
    right: 0;
    height: 100%;
    min-width: 25px;
    display: flex;
    z-index: 3;
    max-width: 315px;
}
